@import "../../../global";

:host {
  width: 100%;
}
.cover {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient( to top, 
  rgba( 0, 0, 0, 0 ) 80%, rgba( 0, 0, 0, 0.9  ) ),url("../../../assets/cover.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin: $header-height 0 0;
  height: calc(100% - #{$header-height} * 2); 
  .nav {
    background-image: linear-gradient( to top, rgba( 0, 0, 0, 0 ) 5%, rgba( 0, 0, 0, 0.8  ) 90% );
  }
  // main area of all pages
  .container {
    width: 100%;
    margin: 0 auto;
  }

}