<div [ngClass]="coverClasses">
  </div>
  
  <div class="wrapper">
    <!-- Here Come Nav-Bar -->
    <!-- <sh-nav class="nav"  [navLinks]="navLinks" [linkColor]="linkColor"></sh-nav> -->
  
    <div class="container">
  
      <ion-router-outlet>
      </ion-router-outlet>
  
    </div>
  </div>