<div class="foot" [ngStyle]="{'color': getColor(), 'background-color': getBgColor()}">
    <div class="bottom">
      <p>
          &copy;
        <span>2019 Refit Project</span>
      </p>
    </div>
  </div>