

.swiper-container {
    height: 100%;
}


.GoCls {
    position: absolute;
    margin: 180px 0px 10px;
}

.logo,
.logo::before,
.logo::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo {
    width: 200px;
    height: 200px;
    margin: auto;
    background: url("../../../assets/logo.svg") no-repeat 50%/70% rgba(255, 255, 255, 0);
    color: #69ca62;
    box-shadow: inset 0 0 0 1px rgba(105, 202, 98, 0.5);
}

.logo::before,
.logo::after {
    content: '';
    z-index: -1;
    margin: -5%;
    box-shadow: inset 0 0 0 2px;
    animation: clipMe 8s linear infinite;
}

.logo::before {
    animation-delay: -4s;
}

.logo:hover::after,
.logo:hover::before {
    background-color: rgba(75, 191, 105, 0.3);
}

@keyframes clipMe {

    0%,
    100% {
        clip: rect(0px, 220px, 2px, 0px);
    }

    25% {
        clip: rect(0px, 2px, 220px, 0px);
    }

    50% {
        clip: rect(218px, 220px, 220px, 0px);
    }

    75% {
        clip: rect(0px, 220px, 220px, 218px);
    }
}