    <!-- The welcome slider -->
    <ion-content >
      <ion-slides #slides pager="true" [options]="slideOpts" (ionSlideDidChange)="checkSlidesEndStart()">
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Refit</ion-card-subtitle>
              <ion-card-title dir="auto">{{'HOME.BEGIN-SLIDER.SLIDER1.CAPTION' | translate }}</ion-card-title>
            </ion-card-header>
            <ion-card-content dir="auto">
              {{'HOME.BEGIN-SLIDER.SLIDER1.CONTENT' | translate }}
            </ion-card-content>
          </ion-card>
        </ion-slide>
  
        <ion-slide>
          <h1 dir="auto">{{'HOME.BEGIN-SLIDER.SLIDER2.CAPTION' | translate }}</h1>
          <div></div>
        </ion-slide>
  
        <ion-slide>
          <div>
            <div class="logo"></div>
          </div>
          <div class="GoCls">
            <ion-button dir="auto">{{'HOME.BEGIN-SLIDER.SLIDER3.BEGIN-BUTTON' | translate }}</ion-button>
          </div>
        </ion-slide>
      </ion-slides>
  
      <!-- Next and Prev buttons -->
      <ion-fab vertical="center" horizontal="end" *ngIf="nextAvailable">
        <ion-fab-button color="primary" (click)="next()">
          <ion-icon name="arrow-dropright"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab vertical="center" horizontal="start" *ngIf="prevAvailable">
        <ion-fab-button color="primary" type="button" (click)="prev()">
          <ion-icon name="arrow-dropleft"></ion-icon>
        </ion-fab-button>
      </ion-fab>


    </ion-content>
    