// this file contains global variables and global CSS definitions
// which will be used on different CSS settings in the site
// http://ionicframework.com/docs/theming/

/*********************************************************************************
 * css variables and mixin
 ********************************************************************************/

@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';



//////////////////////////////////////////////////////////////////////////////////
// screens
//////////////////////////////////////////////////////////////////////////////////
// screen limitation
// @media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
// @media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
// @media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
// @media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
// @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
// @media (min-width:1281px) { /* hi-res laptops and desktops */ }
@mixin for-size($range) {
    $phone-upper-boundary: 768px;
    $tablet-portrait-upper-boundary: 950px;
    $tablet-landscape-upper-boundary: 1200px;
    $desktop-upper-boundary: 1800px;
    @if $range==phone-only {
      @media (max-width: #{$phone-upper-boundary - 1}) {
        @content;
      }
    }
    @else if $range==tablet-portrait-less {
      @media (max-width: #{$tablet-portrait-upper-boundary}) {
        @content;
      }
    }
    @else if $range==phone-up {
      @media (min-width: $phone-upper-boundary) {
        @content;
      }
    }
    @else if $range==tablet-portrait-up {
      @media (min-width: $phone-upper-boundary) {
        @content;
      }
    }
    @else if $range==tablet-landscape-up {
      @media (min-width: $tablet-portrait-upper-boundary) {
        @content;
      }
    }
    @else if $range==desktop-up {
      @media (min-width: $tablet-landscape-upper-boundary) {
        @content;
      }
    }
    @else if $range==big-desktop-up {
      @media (min-width: $desktop-upper-boundary) {
        @content;
      }
    }
  }
  //   usage
  //   .my-box {
  //     padding: 10px;
  //     @include for-size(desktop-up) {
  //       padding: 20px;
  //     }
  //   }
  //////////////////////////////////////////////////////////////////////////////////
  // scroll bar
  //////////////////////////////////////////////////////////////////////////////////
  $scroll-bar-width: 4px;
  // colors
  $light-gray: #eee;
  $dark-gray: #808080;
  $middle-gray: #d3d3d3;
  $green: #4bbf69; // #28a745;
  $green-opacity: rgba(75, 191, 105, 0.3); // rgba(40, 167, 69, 0.3);
  $primary-color: $green;
  $primary-color-opacity: $green-opacity;
  $primary-bg-color: #fff;
  //////////////////////////////////////////////////////////////////////////////////
  // fonts
  //////////////////////////////////////////////////////////////////////////////////
  $primary-font: helvetica,
  sans-serif; // 'Roboto', sans-serif; // 'Source Sans Pro', sans-serif;
  $header-font: 'Montserrat',
  sans-serif;
  $form-font: $primary-font; // 'Rokkitt', serif;
  $nav-font: $header-font; // 'Oxygen', sans-serif;
  $tool-tip-font: $primary-font;
  $message-font: $primary-font;
  $dialog-font: 'Roboto',
  sans-serif;
  //////////////////////////////////////////////////////////////////////////////////
  // shadows
  //////////////////////////////////////////////////////////////////////////////////
  $box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
  0 2px 2px 0 rgba(0, 0, 0, .14),
  0 1px 5px 0 rgba(0, 0, 0, .12);
  // https://medium.com/@ladyleet/adding-box-shadow-z-depth-to-angular-material-2-components-6bd0de303dcb
  $sh-depth-1: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
  $sh-depth-1-half: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
  0 1px 7px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -1px rgba(0, 0, 0, 0.2);
  $sh-depth-2: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
  0 1px 10px 0 rgba(0, 0, 0, 0.12),
  0 2px 4px -1px rgba(0, 0, 0, 0.3);
  $sh-depth-3: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
  0 1px 18px 0 rgba(0, 0, 0, 0.12),
  0 3px 5px -1px rgba(0, 0, 0, 0.3);
  $sh-depth-4: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12),
  0 5px 5px -3px rgba(0, 0, 0, 0.3);
  $sh-depth-5: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
  0 6px 30px 5px rgba(0, 0, 0, 0.12),
  0 8px 10px -5px rgba(0, 0, 0, 0.3);
  //////////////////////////////////////////////////////////////////////////////////
  // headers + footer
  //////////////////////////////////////////////////////////////////////////////////
  // Montserrat is google font which is included in index.html file
  $side-content-max-width: 1050px; //side content home width
  $header-height: 80px;
  $footer-height: 170px;
  $header-height-small: 130px;
  $h1-size: 35px;
  $h2-size: 16px;
  %h1 {
    font-family: $header-font;
    font-size: $h1-size;
    font-weight: 500;
    text-align: center;
    color: $primary-color;
    text-align: left;
    margin-top: 0;
    margin-bottom: 30px;
  }
  %h2 {
    font-size: $h2-size;
    @extend %h1;
  }
  //////////////////////////////////////////////////////////////////////////////////
  // layout
  //////////////////////////////////////////////////////////////////////////////////
  // text area and background transparent color (llike about page)
  %back-color {
    background-color: $primary-bg-color;
    opacity: 0.9;
    z-index: 100;
  }
  $back-area-top-margin: $header-height;
  $back-area-bottom-margin: $header-height;
  $back-area-top-margin-small: $header-height;
  $back-area-bottom-margin-small: $header-height;
  %back-area {
    @extend %back-color;
    position: relative;
    font-family: $primary-font;
    font-size: 16px;
    max-width: 900px; // maximal width of the active page area
    margin-top: $back-area-top-margin; // allow main header to be visible
    margin-bottom: $back-area-bottom-margin; // before the footer
    @include for-size(phone-only) {
      margin-top: $back-area-top-margin-small; // allow main header to be visible
      margin-bottom: $back-area-bottom-margin-small; // before the footer
    }
    margin-left: auto;
    margin-right: auto;
    padding: 40px; // box-shadow: 3px 3px 4px #888888, -3px -3px 4px #888888;
    @include for-size(phone-only) {
      padding: 20px;
    }
  }
  //////////////////////////////////////////////////////////////////////////////////
  // forms and input boxes
  //////////////////////////////////////////////////////////////////////////////////
  $form-margin: 20px;
  // shadow for big boxes
  %form {
    min-width: 450px;
    @include for-size(phone-only) {
      min-width: 300px;
    }
    h1 {
      @extend %h1;
    }
    p {
      font-family: $form-font;
    }
    input,
    select,
    textarea,
    .checkbox {
      border-color: $middle-gray;
      outline: none;
      font-family: $form-font;
    }
    select,
    textarea,
    .checkbox {
      margin: $form-margin 0;
    }
    textarea {
      padding: 10px;
      width: 100%;
      min-height: 200px;
      resize: none;
    }
    select,
    textarea {
      border-width: 2px;
    }
    select:focus,
    textarea:focus {
      border-color: $primary-color !important;
      outline: none !important;
      box-shadow: 0 0 3px $primary-color !important;
    }
    select option:checked,
    select option:hover {
      background: $light-gray;
    }
    .error {
      font-family: $form-font;
      margin: 10px 0; // font-weight: bolder;
      font-style: italic;
    }
    .box {
      border: 1px solid $light-gray;
      padding: 20px;
      box-shadow: $box-shadow;
    }
  }
  // box with shadow
  .shadow-box {
    border: 1px solid $light-gray;
    padding: 20px;
    box-shadow: $box-shadow;
  }
  //////////////////////////////////////////////////////////////////////////////////
  // various
  //////////////////////////////////////////////////////////////////////////////////
  // centering
  %center-h-v {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*********************************************************************************
   * css definitions
   ********************************************************************************/
  
